---
import { Icon } from "astro-icon";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "https://github.com/is4g4i",
    description: "View source on GitHub",
    icon: "fa-brands:github-alt",
  },
  {
    url: "https://www.instagram.com/ricardogsaga/",
    description: "My personal Instagram",
    icon: "fa-brands:instagram",
  },
  {
    url: "https://twitter.com/ricardogsaga",
    description: "My Twitter",
    icon: "fa-brands:twitter",
  },
  {
    url: "https://www.twitch.tv/saga_5464",
    description: "My twitch channel",
    icon: "fa-brands:twitch",
  },
];
---

<footer class="relative flex h-64 items-center justify-center">
  <div class="absolute inset-0 overflow-hidden opacity-40">
    <HeroImage />
  </div>
  <ul class="relative grid grid-cols-2 gap-4 sm:grid-cols-4">
    {
      links.map((link) => (
        <li>
          <a
            class="flex h-16 w-16 items-center justify-center rounded-full border-2 border-current p-4"
            href={link.url}
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="h-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</footer>
