---
import { Picture } from "@astrojs/image/components";
import spartanThumbUp from "../assets/spartan_thumbUp.png";
import doggo from "../assets/doggo1white.png";
import GitHubCorner from "./github-corner.astro";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="relative h-full bg-gradient-to-b from-black via-gray-900 to-black">
  <GitHubCorner />
  <div class="relative grid h-full place-items-center sm:grid-cols-2">
    <h2
      class="flex flex-col gap-2 self-end sm:gap-4 sm:self-auto sm:justify-self-end"
    >
      <div
        class="gradient-text text-left font-extrabold tracking-tighter text-9xl h-full"
      >
        Welcome
        <br /> I'm Ricardo,
        <br /> a.k.a. Saga
        <br />
        <br />
      </div>
    </h2>
    <div
      id="floatingImage"
      class="w-2/3 max-w-3xl self-start sm:w-10/12 sm:self-auto sm:justify-self-start"
    >
      <Picture
        class="object-contain w-full h-60 sm:h-96"
        src={doggo}
        widths={widths}
        sizes={sizes}
        loading="eager"
        alt="A floating mascot"
      />
      <div></div>
    </div>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #floatingImage {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #floatingImage {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
